@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .btn-primary {
        @apply block ml-4 dark:text-white rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
    }
}


@layer base {
    body {
        @apply dark:bg-slate-800 bg-gray-50;
    }
}

@layer utilities {
    .link {
        @apply hover:underline;
    }
}


/* SimpleMDE dark mode styling */
.dark .editor-toolbar,
.dark .CodeMirror {
    background-color: var(
            --gray-800
    ) !important; /* Dark background for the editor */
    color: #ffffff !important; /* Light text color */
}

.dark .CodeMirror-cursor {
    border-left: 1px solid #ffffff !important; /* Light cursor */
}

.dark .CodeMirror-gutters {
    background-color: #1a1a1a !important; /* Match the gutter background */
    color: #4b5563 !important; /* Darker color for gutter text */
}

/* High specificity for toolbar button hover in dark mode */
.dark .editor-toolbar button:hover,
.dark .editor-toolbar a:hover {
    background-color: transparent !important; /* Dark hover color */
    color: #ffffff !important; /* Keep text visible */
}

.custom-borderless .CodeMirror,
.custom-borderless .editor-toolbar {
    border: none !important;
}
